@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">eCommerce</h1>
        <p class="lead">Buy anything and everything</p>
    </div>
</div>